﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="addition.ascx.cs" Inherits="IntroductiontoASP.NET.addition" %>
<div style="background-color:brown; color:yellow;">
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
     <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    <asp:Button ID="Button1" runat="server" Text="Add" OnClick="Button1_Click" />
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
</div>
<hr />
 
